@font-face {
	font-family: 'Dosis';
	src: url(../fonts/Dosis-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Regular.ttf);
	font-weight: normal;
}

#main {
  position: relative;
  display: block;
  background-color: #00a4d3;
  background-image: url('../img/sky.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
	overflow: hidden;
  /* padding: 75px 150px 50px 150px; */
}

header {
  color: white;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 15px 30px 0 30px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;

}

.burger-menu {
	display: none;
}

.logo {
  width: 20%;
}

.logo > a {
  text-decoration: none;
  color: white;
}

.logo a img {
  height: 135px;
}

.header-info {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 20px 0 0 0;
}

.contact-info li {
  cursor: pointer;
	border-bottom: 1px solid transparent;
}

.contact-info li:hover {
	font-weight: 600;
	border-bottom: 1px solid #80d2e9;
}

.social {
	display: flex;
	flex-direction: row;
  box-sizing: border-box;
	line-height: 50px;
}

.social-icons {
	width: 10%;
	justify-content: flex-end;
}

.social-icons > a {

}

.social-icons > a > img {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 50px;
	vertical-align: sub;

}

.social-icons > a:hover {
}

.social-icons a {
	margin-right: 15px;
}

.social-icons a:last-child {
	margin-right: 0;
}

.contact-info {
  display: flex;
  flex-direction: row;

  margin: 0;
  line-height: 50px;
  padding: 0;
	width: 90%;
}

.contact-info li {
  margin-right: 50px;
	cursor: pointer;
}

.contact-info li:last-child {
  margin-right: 0;
}

.contact-info li {
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #80d2e9;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid transparent;
}

.menu li:hover,
.current {
	border-top: 1px solid white;

}

.menu li {
  list-style: none;
}

.menu li a {
	text-decoration: none;
	color: white;
}

.tele::before {
    display: inline-block;
    vertical-align: unset;
    content: '';
    background-image: url('../img/telephone.png');
    background-size: cover;
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.mail::before {
    display: inline-block;
    vertical-align: unset;
    content: '';
    background-image: url('../img/email.png');
    background-size: cover;
    width: 20px;
    height: 14px;
    margin-right: 10px;
}

.main-title {
  padding: 70px 100px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-title img {
  width: 470px;

}

.text {
  font-family: 'Dozis', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 100px 0 0 0;
}

.text h1 {
  font-size: 55px;
  margin: 0;
  padding: 0;
  color: #00a4d3;
}

.text h3 {
  padding-top: 50px;
  color: #00a4d3;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.btn-coll {
  margin-top: 45px;
  background-color: #00a4d3;
  padding: 18px 27px;
  border-radius: 50px;
  border: solid 1px transparent;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;

}

.btn-coll:hover {
	background-color: white;
	color: #00a4d3;
	border: 1px solid #00a4d3;
	box-shadow: 5px 10px #053c4c6b;
}

#collection {
	position: relative;
  display: block;
  background-color: #00a4d3;
  background-image: url('../img/sky2.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
	padding-top: 80px;
	overflow: hidden;
}

.collection-title {
	text-align: center;
	font-family: 'Dozis', sans-serif;
	color: #00a4d3;
}

.collection-title h1 {
	margin: 0;
	padding: 0;
	line-height: 50px;
	font-size: 35px;
}

.collection-title span::before {
	content: '';
	display: inline-block;
	width: 70px;
	border-top: 1px solid #00a4d3;
	vertical-align: middle;
	text-align: center;
}

.collection-title h5 {
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 30px;
	font-size: 15px;
	font-weight: 100;
	color: #062033;
}



.containers {
	display: flex;
	flex-direction: row;
	padding-top: 60px;
	justify-content: space-between;
	width: 100%;
}

.container {
	width: 23%;
	padding: 0 50px;

}

.rect {
	width: 300px;
	position: relative

}

.container .pic1 {
	width: 300px;
	position: absolute;
	left: 67px;
	top: 275px;
}

.container .pic2 {
	width: 300px;
	position: absolute;
	left: 526px;
	top: 275px;
}

.container .pic3 {
	width: 300px;
	position: absolute;
	left: 987px;
	top: 275px;
}

.container p {
	color: white;
	text-align: center;
	font-family: 'Dozis', sans-serif;
}

#popular {
	position: relative;
  display: block;
  background-color: white;
	padding-top: 50px;
	overflow: hidden;
	font-family: 'Dozis', sans-serif;
}

#popular > div > h1 {
	text-align: center;
	line-height: 50px;
	font-size: 35px;
	color: #00a4d3;
	margin: 0;
	padding: 0;
}

.popular-title {
	text-align: center;
}

.popular-title span::before {
	content: '';
	display: inline-block;
	width: 70px;
	border-top: 1px solid #00a4d3;
	vertical-align: middle;
}

.popular-title p {
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 30px;
	font-size: 15px;
	font-family: 'Dozis', sans-serif;
	font-weight: 100;
	opacity: 0.8;
	color: #062033;
	text-align: center;
}

#popular > ul {
	padding: 0;
	margin: 0 0 30px 0;
	list-style: none;
	text-align: center;
}

#popular > ul > li {
	display: inline-block;
	color: #062033;
	font-size: 14px;
	font-family: 'Dozis', sans-serif;
	font-weight: bold;
	padding: 9px 18px;
	border-radius: 5px;
	margin-right: 15px;
	cursor: pointer;
}

#popular > ul > li:last-child {
	margin-right: 0;
}

#popular > ul > li:hover,
#popular > ul > li.active {
	background-color: #00a4d3;
	color: white;
}

.popular-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100vw;
	height: 320px;
	overflow: hidden;
	transition:all 0.5s;
	justify-content: center;
}

#close {
	display: none;
}

.btn-close > p > a {
	margin: 50px 0 50px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #00a4d3;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Dozis', sans-serif;
    font-weight: bold;
		width: 100%;
}

.btn-close > p > a:hover {
	color: #062033;
	background-color: white;
	border: 1px solid #062033;
	box-shadow: 5px 10px #053c4c6b;
}

.btn-close {
	text-align: center;
	width: 9%;
  margin: 0 auto;
}

.open{
  height: 100%;
}

.popular-items > div {
	position: relative;
	width: 25%;
}

.popular-items > div > img {
	width: 100%;
	height: 100%;
}

.popular-items > div > div {
	position: absolute;
	font-family: 'Dozis', sans-serif;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: #00a4d394;
	text-align: center;
}

.popular-items > div > div > img {
	width: 35px;
	margin-top: 120px;
}

.popular-items > div:hover > div {
	display: block;
}

.popular-items > div > div > h1 {
	margin: 20px 0 10px 0;
	font-size: 13px;
}

.popular-items > div > div > p {
	font-size: 10px;
	margin: 0;
	display: none;
}


.modal-over {
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 99;
	overflow-y: scroll;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
}

.modal-over.show {
	display: block;
}

.modal {
	display: block;
	position: relative;
	width: 60%;
	margin: 0 auto;;
	margin-top: 30px;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 5px;
	overflow: hidden;
	padding-bottom: 5px;
}

.modal > img {
	width: 100%;
	display: block;
	/* margin-bottom: 20px; */
	text-align: center;
}

.modal > div {
	display: none;
}

.close {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 25px;
	text-align: center;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #0000007d;
	cursor: pointer;
	border-radius: 50%;
}

.btn {
	/* margin: 50px 0 50px 0; */
	width: 9%;
  margin: 50px auto;
}

.btn > p > a {
	margin: 50px 0 50px 0;
	/* padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	color: black;
	font-family: 'Dozis', sans-serif;
	border: 1px solid grey; */
	color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #00a4d3;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Dozis', sans-serif;
    font-weight: bold;
}

.btn > p > a:hover {
	color: #062033;
	background-color: white;
	border: 1px solid #062033;
	box-shadow: 5px 10px #053c4c6b;

}

.btn {
	text-align: center;
}

.to-top {
	position: fixed;
	right: 50px;
	bottom: 50px;
	background-color: #1b6e86a3;
	color: white;
	padding: 5px 10px;
	z-index: 4;
	cursor: pointer;
	opacity: 0;
	transition: opacity .3s ease-out;
	text-decoration: none;
	text-transform: uppercase;
	height: 66px;
    border-radius: 50%;
    line-height: 66px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.to-top.show {
	opacity: 1;

}

#sales {
	position: relative;
  display: block;
  background-color: #00a4d3;
  background-image: url('../img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 105vh;
  width: 100vw;
	overflow: hidden;
	font-family: 'Dozis', sans-serif;
	color: white;
	text-align: center;
}

#sales h1 {
	margin: 40px 0 0 0;
	padding: 0;
	text-align: center;
	color: white;
}

#sales span::before {
	content: '';
	display: inline-block;
	width: 70px;
	border-top: 1px solid white;
	vertical-align: middle;
}

.gen-sales {
	display: flex;
	justify-content: center;
}

.gen-sales .sales-title {
	width: 50%;
	justify-content: center;
}

.timer {
	width: 50%;
}

.sales-title {
	display: flex;
	float: left;
	text-align: center;
	flex-direction: column;
	/* width: 50%; */
}

/* .sales-info {
	border: 1px solid white;
	background-color: white;
	border-radius: 20px;
} */

.sales-info  img {
	height: 100%;
	width: 40%;
	align-items: center;
	padding: 10px 170px;
}


.sales-title p {
		font-size: 18px;
		line-height: 20px;
		color: white;
}

.sales-title a {
	position: absolute;
	left: 233px;
	margin-top: 35px;
  background-color: white;
  padding: 18px 27px;
  border-radius: 50px;
  border: solid 1px transparent;
  text-transform: uppercase;
  color: #00a4d3;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.sales-title a:hover {
	color: white;
	border: 1px solid white;
	box-shadow: 5px 10px #053c4c6b;
	background-color: transparent;
}

.timer-info {
	text-align: center;
}

/* .timer-info h1 {
	color: #00a4d3;
	text-align: center;
	padding: 100px 0 0 0 ;
} */

.timer-info p {
	margin: 120px 0 0 0;
	text-align: center;
    padding: 0;
    line-height: 30px;
    font-size: 25px;
    font-family: 'Dozis', sans-serif;
    font-weight: 100;
    opacity: 0.8;
    color: white;
}


#demo {
	margin: 30px 0 0 0;
  font-family: sans-serif;
  color: #00a4d3;
	background: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
	width: 380px;
	border-radius: 30px;
	padding: 20px 20px;
}

.countdown-number {
  padding: 10px;
  border-radius: 3px;
  background: #00a4d3;
  display: inline-block;
}

.countdown-time {
  padding: 15px;
  border-radius: 3px;
  background: #0f6e8a;
  display: inline-block;
}

.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}

#testimonials {
	position: relative;
  display: block;
  background-color: #00a4d3;
  background-image: url('../img/background3.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
	padding: 50px 0 100px 0;
	overflow: hidden;
}

.testimonials {
	display: none;
}

.slider-gen {
	position: relative;
	width: 13240px;
	height: 100%;
	margin-left: 0;
	transition: margin-left ease-out .3s;
}

.slider {
	display: inline-block;
	width: 1324px;
	height: 100%;
	text-align: center;
	font-family: 'Dozis', sans-serif;
	color: white;
}

.slider-unit {
	display: inline-block;
	flex-direction: column;
	width: 500px;
}

.user__img img {
	height: 310px;
}

.user__name h1 {
	font-size: 26px;
	margin: 0.67em 0;
}

.user__text p {
	width: 80%;
	margin: 0 auto;
	line-height: 20px;
	font-size: 16px;
}

.slider-unit.current {
	opacity: 1;
}

.slider-mobile-dots {
	display: none;
}

.slider-dots {
	text-align: center;
	list-style: none;
	padding: 0;
	display: none;
}


#testimonials > ul > li {
	list-style: none;
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: 1px solid white;
	margin-right: 5px;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1;

}

#testimonials > ul > li.current {
	background-color: white;
	border: 1px solid white;
}

#testimonials > ul > li:last-child {
	margin-right: 0;
}

#testimonials > .left {
	cursor: pointer;
	font-size: 100px;
	height: 60px;
    width: 60px;
    display: inline-block;
    text-align: center;
    position: absolute;
    margin-left: 280px;
    top: 200px;
		color: white;
}

#testimonials > .right {
	cursor: pointer;
	font-size: 100px;
	height: 60px;
    width: 60px;
    display: inline-block;
    text-align: center;
    position: absolute;
    margin-left: 998px;
    top: 200px;
		color: white;
}

#testimonials > .left,
#testimonials > .right {
	display: block;
}

.slider-mobile {
	display: none;
}

#contacts {
	position: relative;
  display: block;
  background-color: #00a4d3;
  background-image: url('../img/background4.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
	overflow: hidden;
}

.footer-up {
	padding: 200px 150px 0 150px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-up h1 {
	color: #00a4d3;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 25px;
}

.form {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.form input[type=text] {
	padding: 13px 13px;
	width: 380px;
	border: 1px solid #00a4d3;
	outline: none;
}

.form input[type=submit] {
	padding: 13px 13px;
	width: 130px;
	outline: none;
	color: white;
	background-color: #00a4d3;
	border: 1px solid #00a4d3;
}

.form input[type=submit]:hover {
	background-color: white;
	color: #00a4d3;

}

.icons img {
	height: 50px;
}

.footer-down {
	padding: 80px 150px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.address {
	font-family: 'Roboto', sans-serif;

}

.address p {
	color: #021f27;
}

.address p span {
	color: #00a4d3;
	text-transform: uppercase;
	font-weight: 600;
}

@media (min-width: 320px) and (max-width: 480px) {

  /* MAIN */
	.to-top {
		/* bottom: 78px; */
		top: 490px;
	}

  #main {
    background-image: url(../img/sky3.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    justify-content: space-between;
    font-size: 12px;
  }

  .menu {
		position: absolute;
		right: -112%;
		top: 94px;
		width: 100%;
		background-color: white;
		transition: right .3s ease-out;
	}
	.menu.open {
		right: 0;
    flex-direction: column;
	}

  .open {
    height: 82%;
  }
	.current {
	border-top: none;
	}

	.menu > li {
		display: block;
		margin-right: 0;
		text-align: center;
		height: 84px;
		line-height: 75px;
		background-color: rgb(0, 164, 211);
		margin-bottom: 5px;
	}

	.menu > li:last-child {
		margin-bottom: 0
	}

	.menu > li > a {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 600;
		height: 100%;
		width: 100%;
		display: block;
		color: white;
	}

  .burger-menu {
    display: block;
    height: 35px;
    width: 50px;
    cursor: pointer;
    margin-top: 20px;
    float: right;
  }

  .social {
    display: none;
  }

  .logo a img {
    height: 65px;
  }

  .header-info {
    padding: 0;
  }

  .social {
    flex-direction: column;
    margin-top: 10px;
  }

  .contact-info {
    flex-direction: column;
    width: 100%;
    line-height: 18px;
    text-align: right;
  }

  .contact-info li {
    margin-right: 0;
    cursor: pointer;
  }

  .tele::after {
    display: inline-block;
    vertical-align: text-top;
    content: '';
    background-image: url(../img/telephone.png);
    background-size: cover;
    width: 14px;
    height: 14px;
    margin-left: 10px;
  }

  .tele::before {
    display: none;
    /* margin-right: none; */
  }

  .mail::before {
    display: none;
  }

  .mail::after {
    display: inline-block;
    vertical-align: text-top;
    content: '';
    background-image: url(../img/email.png);
    background-size: cover;
    width: 20px;
    height: 14px;
    margin-left: 10px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 23px;
    width: 100%;
  }

  .social-icons > a > img {
    width: 17px;
    height: 17px;
  }

  .main-title {
    flex-direction: column;
    padding: 80px 25px 0 10px;
  }

  .main-title img {
    width: 275px;
    height: 233px;
    margin: 0 auto;
  }

  .text {
    padding: 25px 0 0 0;
  }

  .text h1 {
    font-size: 21px;
    margin: 0 auto;
  }

  .text h3 {
    font-size: 21px;
    margin: 0 auto;
  }

  .btn-coll {
    margin: 24px auto;
    font-size: 12px;
    padding: 15px 20px;
    font-weight: 700;
  }

  /* COLLECTION */

  #collection{
    padding-top: 25px;
    background-image: url(../img/sky4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .collection-title h1,
  #popular > div > h1,
  #sales h1,
  #testimonials > h1 {
    font-size: 25px;
    line-height: 40px;
  }

  .collection-title h5,
  .popular-title p,
  #sales p {
    font-size: 12px;
  }

  .containers {
    flex-direction: column;
    padding-top: 12px;
  }

  .rect {
    height: 150px;
    width: 150px;
  }

  .container {
    padding: 0 8px;
  }

  .container .pic1 {
    width: 150px;
    top: 143px;
    left: 25px;
  }

  .container .pic2 {
    width: 150px;
    left: 155px;
    top: 279px;

  }

  .container .pic3 {
    width: 150px;
    left: 25px;
    top: 422px;

  }

  .rect2 {
    top: -86px;
    left: 131px;
  }

  .rect3 {
    bottom: 184px;
  }

  /* POPULAR */

  #popular {
    padding-top: 25px
  }

  #popular > ul > li {
    font-size: 12px;
  }

  .popular-title p {
    margin: 0 0 5px 0;
  }

  #popular > ul {
    margin: 0 0 15px 0;
  }

  .popular-items {
    height: 100%;
  }

  /* .popular-items > div > img {
    width: 100%;
    height: 50%;
  } */


  /* SALES */

  .btn,
  .btn-close {
    display: none;
  }

  #sales h1 {
    margin: 25px 0 0 0;
  }

  .gen-sales {
    display: block;
  }

  .gen-sales div {
    width: 100%;
  }

  .sales-title {
    float: none;
    width: 100%;
  }

  .sales-title p {
    display: none;
  }

  .sales-info {
    width: 100%;
  }

  .sales-info img {
		width: 150%;
		margin: 0 40px;
		padding: 0;
  }

  .btn-sales {
    margin: 30px 0;
    width: 44%;
    position: absolute;
    bottom: 12px;
  }

  .sales-title a {
    font-size: 12px;
    padding: 6px 18px;
    width: 42%;
    margin: 5px auto;
    font-weight: 700;
		left: 76px;
    margin-top: -47px;
  }

  .timer-info p {
    margin: 10px auto;
  }

  #demo {
    margin: 0 auto;
    font-size: 16px;
    width: 235px;
    padding: 11px 1px;
  }

  /* TESTIMONIALS */

  #testimonials {
    padding: 0;
    height: 100vh;
  }

  #testimonials > h1 {
    display: block;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Dozis', sans-serif;
    padding: 0;
    margin: 25px 0 0 0;
  }

	.slider {
		text-align: left;
	}

	.user__img {
		padding: 34px 50px;
	}

	.user__name h1 {
		margin: 0 42px;
	}

	.user__text p {
		margin: 37px 50px;
		width: 50%;
  	line-height: 20px;
  	font-size: 17px;
	}


	/* .slider-gen {
		display: block;
    position: relative;
  	width: 7940px;
  	height: 75%;
  	margin-left: 0;
  	transition: margin-left ease-out .3s;
	}

	.slider {
		display: inline-block;
		position: relative;
		width: 1320px;
		height: 100%;
		margin-left: 0;
		transition: margin-left ease-out .3s;
		font-family: 'Dozis', sans-serif;
		color: white;
		text-align: center;
	}

	.slider-unit {
		display: inline-block;
		flex-direction: column;
		width: 324px;
	} */

  .slider-dots {
    display: block;
  }

  #testimonials .left,
  #testimonials .right {
    display: block;
  }

	#testimonials > .left {
		margin-left: 3px;
		font-size: 55px;
	}

	#testimonials > .right {
		margin-left: 242px;
		font-size: 55px;
	}

  .user__img img {
  	height: 176px;
  }

  .user_name h1 {
  	font-size: 19px;
  }




  .slider-mobile-dots {
    display: none;
    padding: 0;
    text-align: center;
  }

  /* FOOTER */

  #contacts {
    background-image: url(../img/sky5.png);
  }

  .footer-up {
  	padding: 114px 20px 0 20px;
    flex-direction: column;
  }

  .footer-up h1 {
    font-size: 12px;
    line-height: 22px
  }

  .form input[type=text] {
    padding: 10px 10px;
    width: 253px;
  }

  .form input[type=submit] {
    padding: 10px 10px;
    width: 125px;
    margin-top: 10px;
  }

  .footer-down {
    padding: 20px 20px;
    font-size: 12px;
  }

  .icons img {
    height: 30px;
  }

  .to-top {
    background-color: #0fa9d6a3;
    font-size: 12px;
    line-height: 49px;
    padding: 1px 6px;
    height: 51px;
  }




}

@media (min-width: 375px) and (max-width: 415px) {

	.to-top {
		bottom: 212px;
		font-size: 18px;
    padding: 13px 9px;
	}

  .main-title {
      padding: 131px 25px 0 25px;
  }

	.text {
		padding: 45px 0 0 0;
	}

	.container {
		padding: 0 42px;
	}

	.container .pic1 {
		left: 60px;
	}

	.container .pic2 {
		left: 191px;
	}

	.container .pic3 {
		left: 60px;
		top: 403px;
	}

	.sales-title a {
		padding: 18px 18px;
		left: 90px;
		margin-top: -86px;
	}

	#sales p {
    font-size: 17px;
	}

	.user__img {
    padding: 34px 69px;
	}

	.user__img img {
    height: 204px;
	}

	.user__name h1 {
    margin: 0px 62px;
	}

	.user__text p {
    width: 60%;
    font-size: 19px;
		margin: 42px 50px;
	}

	#testimonials > .right {
    margin-left: 344px;
	}

	.slider-gen {
		height: 71%;
	}

	#contacts {
		background-size: 498px;
	}


}

@media (min-width: 414px) and (max-width: 600px) {

	.to-top {
		font-size: 17px;
    padding: 21px 18px;
	}

	.text {
    padding: 71px 0 0 0;
	}
	.container {
    padding: 0 63px;
	}
	.container .pic1 {
    left: 80px;
	}
	.container .pic2 {
    left: 212px;
	}
	.container .pic3 {
    left: 81px;
	}
	.sales-info img {
		padding-bottom: 30px;
	}
	.sales-title a {
		left: 103px;
	}
	.user__img img {
    height: 238px;
	}
	.user__name h1 {
    margin: 0px 84px;
	}
	.user__text p {
		margin: 42px 64px
	}
	#contacts {
    background-size: 483px;
	}


}

@media (min-width: 760px) and (max-width: 1023px) {
	.to-top {
		top: 429px;
	}
	#main {
		height: 50vh;
	}
	.logo a img {
    height: 110px;
	}
	.social {
		line-height: 50px;
	}
	.social-icons {
		width: 23%;
	}
	.main-title img {
    width: 355px;
	}
	.main-title {
		padding: 70px 35px 0 35px;
	}
	.text h1 {
		font-size: 16px;
	}
	.text h3 {
		font-size: 26px;
	}
	#collection {
		height: 50vh;
	}
	.container {
		width: 156px;
	}
	.container .pic1 {
		width: 156px;
		top: 255px;
	}
	.rect {
    width: 165px;
    position: relative;
	}
	.container .pic2 {
		width: 156px;
		top: 255px;
		left: 322px;
	}
	.container .pic3 {
		width: 156px;
		top: 255px;
		left: 581px;
	}
	.btn-close > p > a {
		width: 100%;
	}

	#sales {
		height: 53vh;
	}
	.sales-info img {
		padding: 10px 100px;
		width: 50%;

	}
	#demo {
		font-size: 22px;
		width: 70%;
	}
	.timer-info p {
    margin: 95px 0 0 0;
    text-align: left;
	}
	.sales-title a {
		left: 266px;
	}
	#testimonials {
		height: 40%;
	}
	.slider {
		text-align: left;
	}
	.slider-unit {
    padding: 0 134px;
		text-align: center;
	}
	#testimonials > .right {
		margin-left: 700px;
	}
	#testimonials > .left {
		margin-left: 10px;
	}
	#contacts {
		background-image: url(../img/sky5.png);
	}
	.footer-up {
    padding: 200px 35px 0 35px;
	}
	.footer-down {
    padding: 80px 35px;
	}

}

@media (min-width: 1024px) and (max-width: 1300px) {
	#main {
		height: 41vh;
		background-size: 117%;
	}
	.header-info {
		width: 78%;
	}
	.social-icons {
    width: 16%;
	}
	.main-title {
		padding: 70px 126px 0 108px;
	}
	.main-title img {
    width: 345px;
  }
	.text {
		padding: 100px 0 0 20px;
	}
	.text h1 {
    font-size: 38px;
	}
	#collection {
		height: 45vh;
	}
	.containers {
		width: 94%;
	}
	.container {
		padding: 0 46px;
	}
	.container .pic1 {
    top: 258px;
		left: 64px;
	}
	.container .pic2 {
    left: 387px;
    top: 258px;
	}
	.container .pic3 {
    left: 711px;
    top: 258px;
	}
	#sales {
		height: 45vh;
	}
	.sales-info img {
    padding: 10px 156px;
	}
	.sales-title a {
    left: 151px;
	}
	#testimonials {
		height: 34vh;
	}
	.slider {
		text-align: left;
	}
	.slider-unit {
		padding: 0 262px;
    text-align: center;
	}
	#testimonials .left {
		margin-left: 18px;
	}
	#testimonials .right {
		margin-left: 948px;
	}
	.user__name h1 {
    font-size: 30px;
	}
	.user__text p {
    font-size: 18px;
	}
	#contacts {
		background-image: url(../img/sky5.png);
		background-size: 1026px;
	}
	.footer-up {
    padding: 265px 120px 0 120px;
	}
	.footer-down {
    padding: 80px 120px;
		font-size: 18px;
	}
	.footer-up h1 {
    font-size: 18px;
	}
	.form {
		font-size: 17px;

	}

	.form input[type=submit] {
    padding: 13px 13px;
    width: 155px;
	}

	.to-top {
		top: 632px;
	}


}
